/*----------------      Master Styles   -----------------*/
body {
  font-family: "Arial", sans-serif;
  font-size: 1.1rem;
  margin: 0;
}

/* -------------       CONTAINER STYLE     ------------- */
.container {
  width: 70%;
  max-width: 900px;
  margin: 2rem auto;

  border: 1px solid navy;
}

/* -------------     HEADER STYLES       --------------- */
.listHeader {
  height: 15rem;
  background-image: url("../images/smokeyBlueNightSky.jpg");
  background-size: 100% 100%;
  position: relative;
}

.clear {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.clear em {
  font-size: 30px;
  color: #fff;
}

.clear em:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}

#date {
  position: absolute;
  bottom: 0.7rem;
  left: 0.7rem;
  color: #eeeeee;
  font-size: 1.5rem;
  font-family: "Titillium Web", sans-serif;
}

/* -------------      CONTENT STYLES      -------------- */
.content {
  height: 20rem;
  max-height: 30rem;
  background-color: #ffffff;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.content ul {
  margin: 0.5rem;
  padding: 0;
}

.item {
  height: 2.3rem;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
}

.item em.co {
  position: absolute;
  font-size: 1.4rem;
  padding-left: 0.5rem;
  left: 1rem;
  top: 0.7rem;
}

.item em.co:hover {
  cursor: pointer;
}

.fa-check-circle {
  color: #6eb200;
}

.item p.text {
  position: absolute;
  font-size: 1.2rem;

  background-color: #ffffff;
  left: 3rem;
  top: 0.3rem;

  padding: 0;
  margin: 0;
}

.lineThrough {
  text-decoration: line-through;
  color: #aaaaaa;
}

.item em.de {
  position: absolute;
  font-size: 1.5rem;
  right: 1rem;
  top: 0.6rem;
}

.item em.de:hover {
  color: #af0000;
  cursor: pointer;
}

/* ---------       ADDING AN ITEM STYLES       --------- */
.add-a-to-do {
  position: relative;
  height: 2.5rem;
  background-color: #ffffff;
  padding: 0.7rem;
  border-top: 1px solid #e0e0e0;
}

.add-a-to-do em {
  position: absolute;
  font-size: 2.5rem;
  color: #001499;
}

.add-a-to-do input {
  font-size: 1.2rem;
  height: 2.1rem;
  position: absolute;
  left: 3rem;
  background-color: transparent;
  border: none;
  padding-left: 0.6rem;
}

.add-a-to-do input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4162f6;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.add-a-to-do input::-moz-placeholder {
  /* Firefox 19+ */
  color: #4162f6;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.add-a-to-do input:-ms-input-placeholder {
  /* IE 10+ */
  color: #4162f6;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.add-a-to-do input:-moz-placeholder {
  /* Firefox 18- */
  color: #4162f6;
  font-family: sans-serif;
  font-size: 1.2rem;
}
